# Тестовый фреймворк
pytest==8.3.5
pytest-html==4.1.1          # HTML-отчёт
pytest-playwright==0.7.2    # Playwright-интеграция для pytest
pytest-xdist==3.6.1         # Параллельный запуск тестов

# Браузерная автоматизация
playwright==1.56.0

# HTTP-запросы (для API-проверок)
requests==2.32.5

# Утилиты
python-dotenv==1.0.1        # Загрузка .env файлов
Faker==30.3.0               # Генерация тестовых данных
